<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <title>Easy Article</title>
  </head>
  <body>
    <div class="container">
      <button onclick="previousArticle()" class="backButton">Back</button>
      <button onclick="forwardArticle()" class="forwardButton">Forward</button>
      <h1>Easy Article</h1>
      <textarea id="urlInput" placeholder="Paste URL..."></textarea>
      <button onclick="fetchData()">Fetch URL</button>
      <button onclick="openWebsite()">Open Website</button>
      <button onclick="openWikiSearch()">Wiki Search</button>
      <button onclick="openHeadline()">Headline</button>
      <button onclick="openFile()">Open File</button>
      <button onclick="saveText()">Save File</button>
      <button onclick="clearText()">Clear</button>

      <h2 id="headerText"></h2>
      <p id="readingTimeText"></p>
      <textarea id="textArea" class="outputTextArea" readonly></textarea>
      <h2>Want do download the app for Windows?</h2>
      <button id="downloadButton">
        <a href="{{ url_for('static', filename='js/dist.zip') }}" download
          >Download App</a
        >
      </button>
      <h3>Instructions:</h3>
      <p>Unzip the file</p>
      <p>Double click on the folder</p>
      <p>Double click on the easy-article folder</p>
      <p>Double click on easy-article.exe</p>
    </div>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
  </body>
</html>
