<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <title>👾Easy Article🚀</title>
  </head>
  <body>
    <div class="dropdown">
      <button id="dropdownButton">📖History📖</button>
      <div id="dropdownMenu" class="dropdown-content">
      </div>
    </div>
    <button class="myWebsite" onclick="openMyWebsite()">🧑‍🚀My Website🪐</button>


      <h1>👾🛰️Easy Article🚀☄️</h1>
      <textarea id="urlInput" placeholder="Paste URL..."></textarea>
      <button onclick="fetchData()">📭Fetch URL📭</button>
      <button onclick="openWebsite()">🌐Open Website🌐</button>
      <button onclick="openWikiSearch()">🔎Wiki Search🔎</button>
      <button onclick="openHeadline()">📢Headline📢</button>
      <button onclick="openFile()">📂Open File📂</button>
      <button onclick="saveText()">💾Save File💾</button>
      <button onclick="clearText()">🧹Clear🧹</button>

      <h2 id="headerText"></h2>
      <p id="readingTimeText"></p>
      <textarea id="textArea" class="outputTextArea" readonly></textarea>
      <h2>❔Want to download the app❔</h2>
      <button id="downloadButton">
        <a href="{{ url_for('static', filename='js/easy-article.exe') }}" download
          >➕Download App➕</a
        >
      </button>
      <p>
        <i>The application may be flagged by your anti-virus software_.<br> This app is open-source and the code can be found on my <a href="https://github.com/EthanGreatorex", target="_blank">github</a></i>
      </p>
    </div>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
  </body>
</html>
